h1, h2, h3, p, body, div {
    font-family: Tahoma, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.8em;
    margin: 0.25em 0 0.25em 0;
}

h2 {
    font-size: 1.2em;
    margin: 0.5em 0 0.25em 0;
}

p, body {
    font-size: 0.9em;
}

p {
    margin-bottom: 1em;
}

body {
    background-color: white;
}

article {
    background-color: #F5F5F5;
    margin-top: 10em;
    margin-right: 15em;
    margin-left: 30em;
    margin-bottom: 5em;
    padding: 1em;
}

figure {
    float: left;
    height: 150px;
    overflow: hidden;
}

figcaption {
    width: 150px;
    background-color: black;
    opacity: .8;
    position: relative;
    bottom: 1.5em;
    overflow: hidden;
    color: white;
    height: 20px;
}

.overlayed {
    position: relative;
    bottom: 173px;
}

.entry {
    overflow: auto;
    border-top: 1pt solid #ff8800;
    margin-bottom: 0em;
}

.linkbutton {
    background-color: #ff8800;
    color: white;
    margin: 1em;
    padding: .75em;
    text-decoration: none;
    font-size: 0.75em;
    float: right;
    display: block;
}

footer {
    background-color: #474747;
    padding-top: 1em;
    color: #cacaca;
}

    footer h2 {
        color: #a4a1a1;
    }

.footer-related {
    float: left;
    margin: .75em;
    margin-top: 1em;
    margin-left: 2em;
    padding-right: 2em;
    border-top: 1pt solid #ff8800;
}

.footer-section {
    padding: 1.75em;
    margin-left: 28em;
    margin-right: 5em;
    margin-top: 1em;
    padding-top: 2em;
    border-top: 1pt solid #ff8800;
    border-: -10px;
}

.footer-related img {
    margin: 3px;
}
